<div class="container">
  <form #loginForm="ngForm">
    <h1 class="login-title">Log In</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             [(ngModel)]="email"
             placeholder="Enter email"
             name='email'
             maxlength="70"
             required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             [(ngModel)]="password"
             placeholder="Enter passowrd"
             name='passowrd'
             maxlength=""
             required>
    </div>
    <button [disabled]="!loginForm.form.valid"
            type="submit"
            class="btn btn-primary btn-lg"
            (click)="signIn()">Sign In</button>
    <p class="text-danger" *ngIf="errorMsg">{{errorMsg}}</p>
  </form>
</div>


 <!-- #emailControl="ngModel" -->
            <!-- class="btn btn-info btn-lg" -->
