ul {
  padding: 0;
  width: 1200px;
  margin: 20px auto;
}

li{
  display: inline;
}

.tn {
  margin: 6px 6px;
  border: 4px solid #eee;
  box-shadow: 0 4px 8px rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;

  // box-shadow: #555 1px 1px 8px 1px;
  cursor: pointer;
  width: 300px;
}

h2{
  margin-bottom: 20px;
}

img{
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

img:hover{
  transform: scale(1.1);
}


